<div class="ui-grid ui-dialog-content" style="font-size:14px;">
    <div class="ui-grid-row">
        <div class="ui-grid-col-5">Case ID:</div>
        <div class="ui-grid-col-7">{{caseDetails.CaseId}}</div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-5">Case Caption:</div>
        <div class="ui-grid-col-7">{{caseDetails.Caption}}</div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-5">Expert Access Code:</div>
        <div class="ui-grid-col-7">{{caseDetails.ExpertAccessCode}}</div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-5">First Name:</div>
        <div class="ui-grid-col-7">{{caseDetails.FirstName}}</div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-5">Middle Name:</div>
        <div class="ui-grid-col-7">{{caseDetails.MiddleName}}</div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-5">Last Name:</div>
        <div class="ui-grid-col-7">{{caseDetails.LastName}}</div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-5">Date of Birth:</div>
        <div class="ui-grid-col-7">{{caseDetails.DateOfBirth}}</div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-5">Gender:</div>
        <div class="ui-grid-col-7">{{caseDetails.Gender}}</div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-5">Creation Date:</div>
        <div class="ui-grid-col-7">{{caseDetails.CreationDate}}</div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-5">Expiration Date:</div>
        <div class="ui-grid-col-7">{{caseDetails.ExpirationDate}}</div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-5">Discovery End Date:</div>
        <div class="ui-grid-col-7">{{caseDetails.DiscoveryEndDate}}</div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-5">Status:</div>
        <div class="ui-grid-col-7">{{caseDetails.Status}}</div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-5">Owner:</div>
        <div class="ui-grid-col-7">{{caseDetails.Owner}}</div>
    </div>
</div>