<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" style="float:left" placeholder="Filter">
</div>
<p-dataTable [value]="cases"
             scrollable="true" scrollHeight="{{height}}"
             [globalFilter]="gb"
             (window:resize)="onResize($event)">
  <p-column field="Id" header="Id" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
  <p-column field="Caption" header="Caption" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
  <p-column field="Owner" header="Owner" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
  <p-column field="DiscoveryDate" header="Discovery Date" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
  <p-column field="ExpirationDate" header="Expiration Date" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
</p-dataTable>