<div class="container">
    <div class="col-md-9">
        <home-grid></home-grid>
    </div>
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">
                <div style="font-size: 20px;">Case Credits: {{credits}}</div>
            </li>
            <li class="list-group-item">
                <ul class="nav nav-stacked">
                    <li style="margin-bottom: 5px;"><button type="button" class="btn btn-primary btn-block">Purchase</button></li>
                    <li style="margin-bottom: 5px;"><button type="button" class="btn btn-primary btn-block">Add Case</button></li>
                    <li style="margin-bottom: 5px;"><button type="button" class="btn btn-primary btn-block">Screen Share</button></li>
                    <li style="margin-bottom: 5px;"><button type="button" class="btn btn-primary btn-block">Support</button></li>
                </ul>
            </li>
        </ul>
    </div>
</div>