<div class="container" *ngIf="caseId.length > 0">
    <h1 id="caseTitle">{{caseDetails.Caption}}</h1>
    <div class="col-md-2">
        <p-menu>
            <ul>
                <li><h3>Open Studies</h3></li>
                <li><a><span class="menuItem">Browser Viewer</span></a></li>
                <li><a><span class="menuItem">Java Viewer</span></a></li>
                <li><h3>Case Details</h3></li>
                <li><a (click)="showCaseDetailsDialog()"><span class="menuItem">View Details</span></a></li>
                <li><h3>My Cases</h3></li>
                <li><a (click)="showChangeCaseDialog()"><span class="menuItem">Change Case</span></a></li>
            </ul>
        </p-menu>
    </div>
    <div class="col-md-10">
        <studies-table [caseId]="caseId"></studies-table>
    </div>
</div>

<p-dialog *ngIf="caseId.length > 0" header="{{caseDetails.Caption}}" [(visible)]="displayCaseDetailsDialog" [modal]=true 
          [resizable]=false [width]=500
          showEffect="fade" hideEffect="fade" effectDuration="fast">
    <case-details-dialog [caseDetails]="caseDetails"></case-details-dialog>
</p-dialog>

<p-dialog *ngIf="caseId.length == 0" header="Case Access Console" [(visible)]="displayChangeCaseDialog" [modal]=true 
          [closeOnEscape]=false [closable]=false
          [resizable]=false [width]=300
          showEffect="fade" hideEffect="fade" effectDuration="fast">
    <change-case-dialog (changeSelectedCase)="changeSelectedCase($event)"></change-case-dialog>
</p-dialog>

<p-dialog *ngIf="caseId.length > 0" header="Case Access Console" [(visible)]="displayChangeCaseDialog" [modal]=true 
          [resizable]=false [width]=300
          showEffect="fade" hideEffect="fade" effectDuration="fast">
    <change-case-dialog (changeSelectedCase)="changeSelectedCase($event)"></change-case-dialog>
</p-dialog>