<nav id="headerBar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a id="headerLogoContainer" class="pull-left">
            <img id="headerLogo" src="app/images/name_tagline_tm.png" />
        </a>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" style="color: #0e2460"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="#" style="color: #0e2460"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>